
.button-container {
    text-align: center;
    margin-top: 50px;
}

.button-container button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    margin-right: 10px;
    cursor: pointer;
    text-decoration: none;
}

.button-container button:hover {
    background-color: #0056b3;
}

.button-container button a {
    color: white;
    text-decoration: none;
}
    
    .signin {
        max-width: 300px;
        margin: 0 auto;
        background-color: #f4f4f4;
        padding: 20px;
        border-radius: 5px;
        box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
    }

    .signin form div {
        margin-bottom: 10px;
    }

    .signin label {
        display: block;
        margin-bottom: 5px;
        font-weight: bold;
    }

    .signin input[type="text"],
    .signin input[type="password"] {
        width: 100%;
        padding: 8px;
        border: 1px solid #ccc;
        border-radius: 4px;
    }

    .signin input[type="submit"] {
        width: 100%;
        padding: 10px;
        background-color: #007bff;
        color: white;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }

    .signin input[type="submit"]:hover {
        background-color: #0056b3;
    }

    .signin button {
        width: 100%;
        padding: 10px;
        background-color: #28a745;
        color: white;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        text-decoration: none;
        display: block;
        margin-top: 10px;
        text-align: center;
    }

    .signin button:hover {
        background-color: #218838;
    }

    .signin button a {
        color: white;
        text-decoration: none;
    }

/*ESTILO DE REGISTER */

    .register {
        max-width: 300px;
        margin: 0 auto;
        background-color: #f4f4f4;
        padding: 40px;
        border-radius: 5px;
        box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
    }

    .register form div {
        margin-bottom: 10px;
    }

    .register label {
        display: block;
        margin-bottom: 5px;
        font-weight: bold;
    }

    .register input[type="text"],
    .register input[type="password"] {
        width: 100%;
        padding: 8px;
        border: 1px solid #ccc;
        border-radius: 4px;
    }

    .register input[type="submit"] {
        width: 100%;
        padding: 10px;
        background-color: #007bff;
        color: white;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }

    .register input[type="submit"]:hover {
        background-color: #0056b3;
    }

